{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<section>
    <form action="/story">
        {% for prompt in prompts %}
        <p>
            {{prompt.upper()}}:
            <input type="text" name="{{prompt}}">
        </p>
<!--        <label for="place"></label>-->
<!--        <input id="place" type="text" name="place">-->
<!--        <label for="noun"></label>-->
<!--        <input id="noun" type="text" name="noun">-->
<!--        <label for="verb"></label>-->
<!--        <input id="verb" type="text" name="verb">-->
<!--        <label for="adj"></label>-->
<!--        <input id="adj" type="text" name="adj">-->
<!--        <label for="plural_noun"></label>-->
<!--        <input id="plural_noun" type="text" name="plural_noun">-->
        {% endfor %}
        <button>Submit</button>
    </form>
</section>
{% endblock %}